<h1><%= link_to "#{@student.to_s}", student_path(@student) %></h1>
<% if @student.active %>
  <%= 'This student is currently active.' %>
  <%= link_to "Deactivate", activate_student_path(@student) %>
<% else %>
  <%= 'This student is currently inactive.' %>
  <%= link_to "Activate", activate_student_path(@student) %>
<%end%>


